---
title: GeoNode Summit 2016
layout: base
---


	<body class="homepage">
	{% include header_landing.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row" id="projects">
						<div class="12u">

							<!-- Portfolio -->
								<section>
									<header class="major" >
										<h2>Workshops</h2>
									</header>
									{% include landing_workshops.html %}
								</section>

						</div>
					</div>
			</div>
		</div>
