---
title: Speakers
layout: base
---
<body class="left-sidebar">
  {% include nav.html %}
	<div id="main-wrapper">
	  <div class="container">
      <div><header class="major"><h2>{{ page.title }}</h2></header></div>
		  <div class="row speakers">
        {% for speaker in site.categories.speakers %}
			  <div class="4u speaker">
					<section class="box">
						<div>
							<h3 id="speaker-{{ speaker.name | slugify }}">{{ speaker.name }}</h3>
              <h4 style="font-style: italic;">{{ speaker.organization }}</h4>
							{{ speaker.content }}
							<div class="handles">
                {% for handle in speaker.handles %}
                <div class="handle"><i class="{{ site.handles[handle.type].class }}"></i><a target="_blank" href="{{ site.handles[handle.type].baseurl }}{{ handle.name }}">{{ handle.name }}</a></div>
                {% endfor %}
              </div>
						</div>
					</section>
				</div>
        {% endfor %}
			</div>
    </div>
  </div>
</body>
