<div id="header-wrapper">
	<div id="header">
		<h1><a href="{{ site.baseurl }}/">GeoNode Summit 2016</a></h1>
		<nav id="nav">
			<ul>
			  {% assign current = page.url | downcase | split: '/' %}
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				{% include nav_about.html %}
				{% include nav_logistics.html %}
				{% include nav_schedule.html %}
        {% include nav_workshops.html %}
				<li><a href="{{ site.baseurl }}/speakers" >Speakers</a></li>
				{% include nav_afterhours.html %}
				{% include nav_twitter.html %}
			</ul>
		</nav>
	</div>
</div>
