<li>
  <a href="{{ site.baseurl }}/schedule.html">Schedule</a>
  <ul>
    <li><a href="{{ site.baseurl }}/schedule.html#monday">Monday, November 28</a></li>
    <li><a href="{{ site.baseurl }}/schedule.html#tuesday">Tuesday, November 29</a></li>
    <li><a href="{{ site.baseurl }}/schedule.html#wednesday">Wednesday, November 30</a></li>
    <li><a href="{{ site.baseurl }}/schedule.html#thursday">Thursday, December 1</a></li>
    <li><a href="{{ site.baseurl }}/schedule.html#friday">Friday, December 2</a></li>
  </ul>
</li>
