<li>
  <a href="{{ site.baseurl }}/about">About</a>
  <ul>
    <li><a href="{{ site.baseurl }}/about#monday">What is GeoNode?</a></li>
    <li><a href="{{ site.baseurl }}/about#open-source">Open Source</a></li>
    <li><a href="{{ site.baseurl }}/about#what-is-a-geonode-summit">What is a GeoNode Summit?</a></li>
    <li><a href="{{ site.baseurl }}/about#past-summits">Past Summits</a></li>
    <li><a href="{{ site.baseurl }}/about#social-media-toolkit">Social Media Toolkit</a></li>
  </ul>
</li>
