<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_username">
<meta name="twitter:creator" content="@creator_username">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.thumbnail %}
  <meta name="twitter:image:src" content="https://c2.staticflickr.com/2/1536/24637072293_de953d82dd_b.jpg">
{% else %}
  <meta name="twitter:image:src" content="https://c2.staticflickr.com/2/1536/24637072293_de953d82dd_b.jpg">
{% endif %}