---
title: Workshops
layout: base
---
<body class="left-sidebar">
  {% include nav.html %}
	<!-- Main -->
	<div id="main-wrapper">
	  <div class="container">
		  <div class="row">
			  <div class="8u -2u skel-cell-important">
				  <!-- Content -->
					<article class="box post">
						<div id="summary-text">
							<h2>Workshops</h2>
              <p>Workshops will be held on Tuesday, Noveber 29.  Check the <a href="{{ site.baseurl }}/schedule#tuesday">schedule</a> for more details on times and locations.</p>
              <p>The workshops should be useful for everyone from those new to open source GIS to GeoNode experts.  Workshops should faciliate robust conversation and inform the roadmapping conversation on Thursday.  Exact details for each workshop are still to be decided.</p>
							<div style="text-align:left;margin-left:50px;margin-right:50px">
							{% for workshop in site.categories.workshops %}
							<h3 id='{{ workshop.title | slugify }}'>{{ workshop.title }}</h3>
							<p><a href="{{ workshop.url }}">Learn More</a><p>
							{% endfor %}
							</div>
						</div>
						</article>
					</div>
				</div>
			</div>
  </div>
</body>
