<section id="intro" class="container">
  <div class="row">
    <div class="4u">
      <section class="first">
        <i class="icon featured fa-users"></i>
        <header><h2>GeoNode Community</h2></header>
        <p>Join GIS Analysts, Decision Makers, Developers, Data Scientists, and more.</p>
      </section>
    </div>
    <div class="4u">
      <section class="middle">
        <i class="icon featured alt fa-code-fork"></i>
        <header><h2>Open Source Software</h2></header>
        <p>Developing in the open from Day 1.  Open source from database to web client.</p>
      </section>
    </div>
    <div class="4u">
      <section class="last">
        <i class="icon featured alt2 fa-refresh"></i>
        <header><h2>Modern GIS</h2></header>
        <p>Leveraging the latest advances in open source GIS, including OpenLayers 3, Tegola, and much more.</p>
      </section>
    </div>
  </div>
  <footer>
    <div id="summary-section"></div>
    <ul class="actions">
      <li><a target="_blank" href="{{ site.geonode_summit_2016.link.rsvp }}" class="button big">RSVP!</a></li>
      <li><a href="{{ site.baseurl }}/about" class="button alt big" id="about-button">Learn More</a></li>
      <li><a href="{{ site.geonode_summit_2016.link.gallery }}" class="button alt big" target="_blank">Gallery</a></li>
    </ul>
  </footer>
</section>
